<h1>Data</h1>
<hr/>
<div ng-repeat="vitalSign in request.vitalSigns" class="row">
  <div class="col-md-1">
    <code>{{vitalSign.code}}</code>
  </div>
  <div class="col-md-6">
    {{vitalSign.text}}
  </div>
  <div class="col-md-2">
    <input type="text" ng-model="vitalSign.value"/>
  </div>
  <div class="col-md-2">
    <select ng-model="vitalSign.unit" ng-options="unit for unit in vitalSign.units" ng-required="true"></select>
  </div>
  <div class="col-md-1 pull-right">
    <a href="javascript:void(0)" ng-click="deleteVitalSign(\$index)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" ng-model="todoText" size="30" id="newVitalSign" placeholder="Search for vital signs">
  </div>
</div>

<div ng-repeat="labResult in request.labResults" class="row">
  <div class="col-md-1">
    <code>{{labResult.code}}</code>
  </div>
  <div class="col-md-6">
    {{labResult.text}}
  </div>
  <div class="col-md-2">
    <input type="text" ng-model="labResult.value"/>
  </div>
  <div class="col-md-2">
    <select ng-model="labResult.unit" ng-options="unit for unit in labResult.units" ng-required="true"></select>
  </div>
  <div class="col-md-1 pull-right">
    <a href="javascript:void(0)" ng-click="deleteLabResult(\$index)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" ng-model="todoText" size="30" id="newLabResult" placeholder="Search for lab results">
  </div>
</div>
