<h1>Data</h1>
<hr/>
<!--
     Vital Signs
-->
<div ng-repeat="vitalSign in request.vitalSigns" class="row">
  <div class="col-md-1">
    <code>{{vitalSign.code}}</code>
  </div>
  <div class="col-md-6">
    {{vitalSign.text}}
  </div>
  <div class="col-md-2">
    <input type="text" ng-model="vitalSign.value"/>
  </div>
  <div class="col-md-2">
    <select ng-model="vitalSign.unit" ng-options="unit for unit in vitalSign.units" ng-required="true"></select>
  </div>
  <div class="col-md-1 pull-right">
    <a href="javascript:void(0)" ng-click="deleteVitalSign(\$index)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" ng-model="todoText" size="30" id="newVitalSign" placeholder="Search for vital signs">
  </div>
</div>
<div class="row"><div class="col-md-12">&nbsp;</div></div>
<!--
     Lab Results
-->

<div ng-repeat="labResult in request.labResults" class="row">
  <div class="col-md-1">
    <code>{{labResult.code}}</code>
  </div>
  <div class="col-md-6">
    {{labResult.text}}
  </div>
  <div class="col-md-2">
    <input type="text" ng-model="labResult.value"/>
  </div>
  <div class="col-md-2">
    <select ng-model="labResult.unit" ng-options="unit for unit in labResult.units" ng-required="true"></select>
  </div>
  <div class="col-md-1 pull-right">
    <a href="javascript:void(0)" ng-click="deleteLabResult(\$index)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" ng-model="todoText" size="30" id="newLabResult" placeholder="Search for lab results">
  </div>
</div>
<div class="row"><div class="col-md-12">&nbsp;</div></div>
<!--
     Medications
-->

<div ng-repeat="medication in request.medications" class="row">
  <div class="col-md-5">
    <code>{{medication.productNdc}}</code> <strong>{{medication.proprietaryName}}</strong><br/>
      {{medication.nonProprietaryName}}<br/>
      {{medication.dosageFormName}} - {{medication.activeNumeratorStrength}}
  </div>
  <div class="col-md-6">
    <select ng-model="medication.package"
            ng-options="package.packageDescription for package in medication._embedded.packages track by package.ndcPackageCode"
            ng-required="true"></select> <br/>
    <input type="text" ng-model="medication.refills" placeholder="Refills" class="col-md-2"/>
    <input type="text" ng-model="medication.instructions" placeholder="Instructions"/>
  </div>
  <div class="col-md-1 pull-right">
    <a href="javascript:void(0)" ng-click="deleteMedication(\$index)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" ng-model="todoText" size="30" id="newMedication" placeholder="Search for medications">
  </div>
</div>
<div class="row"><div class="col-md-12">&nbsp;</div></div>